# App Settings
APP_NAME=maha-bazaar
DEBUG=True

# Database Settings
DB_SCHEME=mysql+aiomysql
DB_USER=maha_bazaar
DB_PASSWORD=root_password
DB_HOST=db
DB_PORT=3306
DB_NAME=maha_bazaar

# Redis Settings
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# S3 Settings
S3_ENDPOINT_URL=http://s3:9000
S3_ACCESS_KEY=rustfs
S3_SECRET_KEY=rustfs_password
S3_REGION_NAME=us-east-1
S3_BUCKET_NAME=maha_bazaar

# JWT Settings
JWT_SECRET_KEY=your-super-secret-key-change-it
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
